<div class="modal" id="playerChooseGameType" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="card-title">Choisissez votre contrat - {{ player.name }}</h4>
            </div>

            <div class="modal-body">
                {{#each gameTypeAvailable}}
                    <button type="button" data-type="{{@key}}" class="btn btn-block btn-primary">{{this}}</button>
                {{/each}}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Je passe</button>
            </div>

        </div>
    </div>
</div>
