@import "~noty/src/noty.scss";
@import "~noty/src/themes/metroui.scss";

@import './mixins.scss';

@import './modules/alert.scss';
@import './modules/button.scss';
@import './modules/icon.scss';

html {
    overflow: hidden;
}

body {
    font-family: Arial;
    @include smooth;
}

.gameboard {

    &-player {

        $root: &;

        position: absolute;

        &-name {

            position: absolute;

            color: #fff;
            font-size: 20px;
            font-weight: 700;
        }

        &-card {
            position: absolute !important;
        }

        &__0 {

            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            margin: 0 auto 2;

            .card {
                display: inline-block;
            }

            #{$root} {

                &-name {
                    top: -50px;
                }

                &-card {
                    bottom: 40px;
                    right: 150px;
                }
            }
        }

        &__1 {

            top: 15vw;
            left: 70px;

            #{$root} {

                &-name {
                    top: 60px;
                    right: -50px;
                }

                &-card {
                    top: 230px;
                    left: 140px;
                }
            }

            .card {
                margin: 0 70px -80px -30px;
                transform: rotate(90deg);
            }
        }

        &__2 {

            top: 0;
            left: 0;

            .card {
                display: inline-block;
            }

            #{$root} {

                &-name {
                    bottom: -50px;
                    left: 120px;
                }

                &-card {
                    top: 130px;
                    left: 300px;
                }
            }
        }

        &__3 {

            top: 0;
            right: 0;

            .card {
                display: inline-block;
            }

            #{$root} {

                &-name {
                    bottom: -50px;
                    right: 120px;
                }

                &-card {
                    top: 130px;
                    right: 280px;
                }
            }
        }

        &__4 {

            top: 15vw;
            right: 0;

            #{$root} {

                &-name {
                    top: 60px;
                    left: -150px;
                }

                &-card {
                    top: 130px;
                    right: 150px;
                }
            }

            .card {
                margin: 0 50px -80px -30px;
                transform: rotate(-90deg);
            }
        }
    }
}

.card {

    position: relative;
    transition: transform .2s ease-in-out;

    & + & {
        margin-left: -30px;
    }

    &[class*="card--is-♥"],
    &[class*="card--is-♦"] {
        color: tomato;
    }

    &[class*="card--is-A"] {
        color: #3a9c5e;
    }

    &--is-mine {

        cursor: pointer;

        &:hover {
            transform: translate(0, -40px);
        }
    }
}

.chiens {

    .v-card {

        background-color: transparent;
        box-shadow: none !important;

        &-text {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-actions {
            justify-content: center !important;
        }
    }

    .card {
        cursor: pointer;
    }
}