body {
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    background-image: radial-gradient(circle, #00a184, #019377, #02856a, #01775d, #006a51);
}

.gameboard {

    &-player {

        $root: &;

        position: absolute;

        &-name {

            position: absolute;

            color: #fff;
            font-size: 20px;
            font-weight: 700;
        }

        &__0 {

            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;

            .carte {
                display: inline-block;
            }

            #{$root}-name {
                top: -50px;
            }
        }

        &__1 {

            top: 15vw;
            left: 0;

            #{$root}-name {
                top: -50px;
            }
        }

        &__2 {

            top: 0;
            left: 0;

            .carte {
                display: inline-block;
            }

            #{$root}-name {
                bottom: -50px;
            }
        }

        &__3 {

            top: 0;
            right: 0;

            .carte {
                display: inline-block;
            }

            #{$root}-name {
                bottom: -50px;
            }
        }

        &__4 {

            top: 15vw;
            right: 0;

            #{$root}-name {
                top: -50px;
            }
        }
    }
}

.carte {
    background-color: #fff;
    border: 1px solid rgba(#000, .2);
    border-radius: .25rem;
}

[class*="carte__♥"], [class*="carte__♦"] {
    color: tomato;
}

[class*="carte__"] {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
}
